.img-background {
  width: 70%;
  height: 300px;
  background-image: url(./shoes.jpg);
  background-size: cover; /* cover : 컨테이너 사이즈에 맞게, contain : 이미지 사이즈에 맞게*/
  background-repeat: no-repeat; /* 디폴트값은 repeat 컨테이너보다 작은 사진은 반복됨*/
  background-position: center; /* 배경위치 어디서부터 채울지 */
  background-attachment: fixed; /* 스크롤 됐을때 어떻게 동작할지*/

  filter: brightness(70%); /* 사진에 효과 넣기 */
}
